<div>
    Login success, this is dashboard!
</div>
<div>
    {% assign size = stores | size %}
    {% if size == 0 %}
        <div>Create your first store</div>
        <form action="/stores/new" method="post">
            <div><input type="text" name="name" placeholder="name" /></div>
            <div><input type="text" name="url" placeholder="url" />.shop-steam.com</div>
            <div><input type="submit" value="submit"/></div>
        </form>
    {% else %}
        <div>
            <ul>
                {% for store in stores %}
                    <li>{{ store.name }}</li>
                {% endfor %}
            </ul>
            <hr/>
            <div>Add another store</div>
            <form action="/stores/new" method="post">
                <div><input type="text" name="name" placeholder="name" /></div>
                <div><input type="text" name="url" placeholder="url" />.shop-steam.com</div>
                <div><input type="submit" value="submit"/></div>
            </form>
        </div>
    {% endif %}
    <div>
    </div>
</div>