<div>
    Welcome, This is Registrar Home!!
</div>
<div>
    <h3>Sign Up and Create your own store</h3>
    <form autocomplete="off" action="/signup" method="post">
        <input type="text" autocomplete="off" name="first_name" placeholder="First Name"/>
        <input type="text" autocomplete="off" name="last_name" placeholder="Last Name"/>
        <input type="email" autocomplete="new-email" name="email" placeholder="Email Address"/>
        <input type="password" autocomplete="new-password" name="password" placeholder="Password"/>
        <button type="submit">Sign up with email</button>
        <hr>
        <div>Sign up with Google, facebook, twitter or apple</div>
        <div class="note">
            By signing up you agree to the Terms of Service.
        </div>
    </form>
</div>
<div>
    <h3>Sign In</h3>
    <form action="/login" method="post">
        <input type="text" name="user" placeholder="User Name" required/>
        <input type="password" name="password" placeholder="Password" required/>
        <button type="submit">Sign In</button>
         <hr>
        <div>Sign In with Google, facebook, twitter or apple</div>
    </form>
</div>
<div>
    <h4>
        Feature brands using Shop Steam
    </h4>
    <ul>
        <li>Brand A</li>
        <li>Brand B</li>
        <li>Brand C</li>
    </ul>
</div>
<div>
    We use cookies to provide our services and for analytics and marketing. To find out more about our use of cookies, please see our Privacy Policy. By continuing to browse our website, you agree to our use of cookies.
    <a href="/accept_cookie">OK</a>
</div>