<div class="container login-form">
    <form action="/login" method="post" enctype="multipart/form-data">
        <div class="login-form-message">
            {{message}}
        </div>

        <div>
            <label>User Name</label><input type="text" name="user" />
        </div>
        <div>
            <label>password</label><input type="password" name="password" />
        </div>
        <input type="hidden" name="destination" value="{{destination}}" />
        <input type="submit">
        <div>v0.45</div>
    </form>
</div>